[submodule "extensions/beancount"]
	path = extensions/beancount
	url = https://github.com/zed-extensions/beancount
[submodule "extensions/neosolarized"]
	path = extensions/neosolarized
	url = https://github.com/carlocaione/NeoSolarized.zed.git
