[submodule "extensions/beancount"]
	path = extensions/beancount
	url = https://github.com/zed-extensions/beancount
[submodule "extensions/neosolarized"]
	path = extensions/neosolarized
	url = https://github.com/carlocaione/NeoSolarized.zed.git
[submodule "extensions/vscode-dark-plus"]
	path = extensions/vscode-dark-plus
	url = git@github.com:d1y/vscode_dark_plus.zed.git
[submodule "extensions/nu"]
	path = extensions/nu
	url = https://github.com/zed-extensions/nu
[submodule "extensions/zed-catppuccin"]
	path = extensions/zed-catppuccin
	url = https://github.com/ssaunderss/zed-catppuccin
[submodule "extensions/zed-tokyo-night"]
	path = extensions/zed-tokyo-night
	url = https://github.com/ssaunderss/zed-tokyo-night
[submodule "extensions/zed-nightfox"]
	path = extensions/zed-nightfox
	url = https://github.com/ssaunderss/zed-nightfox
