[submodule "extensions/assembly"]
	path = extensions/assembly
	url = https://github.com/DevBlocky/zed-asm.git
[submodule "extensions/base16"]
	path = extensions/base16
	url = https://github.com/bswinnerton/base16-zed
[submodule "extensions/beancount"]
	path = extensions/beancount
	url = https://github.com/zed-extensions/beancount
[submodule "extensions/brainfuck"]
	path = extensions/brainfuck
	url = https://github.com/JosephTLyons/zed-brainfuck
[submodule "extensions/catppuccin"]
	path = extensions/catppuccin
	url = https://github.com/ssaunderss/zed-catppuccin
[submodule "extensions/dockerfile"]
	path = extensions/dockerfile
	url = git@github.com:d1y/dockerfile.zed.git
[submodule "dracula"]
	path = extensions/dracula
	url = https://github.com/dracula/zed
[submodule "extensions/exquisite"]
	path = extensions/exquisite
	url = https://github.com/xqsit94/zed-xqsit-theme.git
[submodule "extensions/github-theme"]
	path = extensions/github-theme
	url = https://github.com/PyaeSoneAungRgn/github-zed-theme
[submodule "extensions/java"]
	path = extensions/java
	url = https://github.com/samuser107/zed-java-extension
[submodule "extensions/log"]
	path = extensions/log
	url = https://github.com/evrsen/zed-log
[submodule "extensions/macos-classic"]
	path = extensions/macos-classic
	url = https://github.com/huacnlee/zed-theme-macos-classic
[submodule "extensions/mau"]
	path = extensions/mau
	url = https://github.com/mauscoelho/zed-mau-themes
[submodule "extensions/mellow"]
	path = extensions/mellow
	url = https://github.com/sonodima/zed-mellow
[submodule "extensions/msun-dark"]
	path = extensions/msun-dark
	url = https://github.com/mikesun/msun-dark-zed.git
[submodule "extensions/napalm"]
	path = extensions/napalm
	url = https://github.com/napalmpapalam/napalm-theme-zed.git
[submodule "extensions/navi"]
	path = extensions/navi
	url = https://github.com/navi-language/zed-navi
[submodule "extensions/neosolarized"]
	path = extensions/neosolarized
	url = https://github.com/carlocaione/NeoSolarized.zed.git
[submodule "extensions/nightfox"]
	path = extensions/nightfox
	url = https://github.com/ssaunderss/zed-nightfox
[submodule "extensions/nu"]
	path = extensions/nu
	url = https://github.com/zed-extensions/nu
[submodule "extensions/one-dark-pro"]
	path = extensions/one-dark-pro
	url = git@github.com:MordFustang21/zed-one-dark-pro.git
[submodule "extensions/pkl"]
	path = extensions/pkl
	url = https://github.com/Moshyfawn/pkl-zed.git
[submodule "extensions/smooth"]
	path = extensions/smooth
	url = https://github.com/segersniels/zed-smooth.git
[submodule "extensions/tokyo-night"]
	path = extensions/tokyo-night
	url = https://github.com/ssaunderss/zed-tokyo-night
[submodule "extensions/ultimate-dark-neo"]
	path = extensions/ultimate-dark-neo
	url = git@github.com:rubjo/ultimate-dark-neo-zed.git
[submodule "extensions/vscode-dark-plus"]
	path = extensions/vscode-dark-plus
	url = git@github.com:d1y/vscode_dark_plus.zed.git
[submodule "extensions/vscode-monokai-charcoal"]
	path = extensions/vscode-monokai-charcoal
	url = git@github.com:d1y/vscode-monokaicharcoal.zed.git
[submodule "extensions/wgsl"]
	path = extensions/wgsl
	url = https://github.com/luan/zed-wgsl
[submodule "extensions/zedokai"]
	path = extensions/zedokai
	url = https://github.com/slymax/zedokai
[submodule "extensions/zedspace"]
	path = extensions/zedspace
	url = git@github.com:Brunowilliang/zedspace.git
[submodule "extensions/srcery"]
	path = extensions/srcery
	url = https://github.com/srcery-colors/srcery-zed
