# Mac OS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Zed Temporary files
.zed/
*~
*.swp
*.log

# Reference files (for comparison only)
dark_modern.json
dark_plus.json
dark_vs.json
vscode-2026-dark.json
zed_schema_2.0.json

# Trae
.trae/
