name: Danger

on:
  pull_request:
    branches: [main]
    types:
      - opened
      - synchronize
      - reopened
      - edited

jobs:
  danger:
    runs-on: ubuntu-latest
    if: github.repository_owner == 'zed-industries'
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4

      - uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4
        with:
          version: 9

      - name: Setup Node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: "20"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Run Danger
        run: pnpm run danger ci
        env:
          # This GitHub token is not used, but the value needs to be here to prevent
          # Danger from throwing an error.
          GITHUB_TOKEN: "not_a_real_token"
          # All requests are instead proxied through an instance of
          # https://github.com/maxdeviant/danger-proxy that allows Danger to securely
          # authenticate with GitHub while still being able to run on PRs from forks.
          DANGER_GITHUB_API_BASE_URL: "https://danger-proxy.fly.dev/github"
