name: Danger

on:
  merge_group:
  pull_request:
    branches: [main]
    types:
      - opened
      - synchronize
      - reopened
      - edited
      - labeled
      - unlabeled

jobs:
  danger:
    runs-on: namespace-profile-2x4-ubuntu-2404
    if: github.repository_owner == 'zed-industries'
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
        with:
          version: 9

      - name: Setup Node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: "20"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Run Danger
        run: pnpm run danger ci
        env:
          # This GitHub token is not used, but the value needs to be here to prevent
          # Danger from throwing an error.
          GITHUB_TOKEN: "not_a_real_token"
          # All requests are instead proxied through a proxy that allows Danger
          # to securely authenticate with GitHub while still being able to run
          # on PRs from forks.
          DANGER_GITHUB_API_BASE_URL: "https://danger-proxy.zed.dev/github"
